@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #152f56;
  --secondary: #1f3c67;
  --tertiary: #25477b;

  --text-color: #ffffff;

  --button-color: #2b3c77;
}

html,
body {
  background-color: var(--primary);
  color: var(--text-color);

  @apply leading-tight;
}

.site-content {
  @apply p-10 grow
}

header {
  .title {

    @apply text-5xl text-center;
    @apply h-fit p-5;
    @apply border-b border-b-black;

  }
}

footer {
  @apply text-gray-500 text-center;
  @apply h-fit p-5 bottom-0;
  @apply border-t border-t-black;

  font-style: italic;
}

/* Misc */

.button {
  @apply rounded-lg border border-gray-500;
  @apply w-fit h-fit;
  @apply p-2 mr-1 mt-2 mb-2;
  @apply clickable;

  background-color: var(--button-color);
}

.card {
  @apply rounded-lg border border-gray-500 bg-gray-900;

}

.clickable {
  @apply cursor-pointer;
}

/* Thumbnail*/
.thumbnail-link {

}

.thumbnail-list {
  @apply flex flex-row gap-x-2;
  @apply h-fit mb-5;
  overflow-x: scroll;
  @layer color-secondary;
}

.thumbnail-grid {
  @apply flex flex-row flex-wrap gap-x-2 gap-y-2;
  @apply h-fit mb-5;
}

.thumbnail-wrapper {
  @apply w-52 h-56 p-1;
  @apply border border-gray-700 rounded-lg;

  background-color: var(--secondary);
}

.thumbnail-image {
  @apply border-b border-gray-500;
  @apply w-full h-36 flex object-center justify-center;
  @apply pb-2;

  img {
    @apply max-h-fit
  }
}


/* Art Page */
.art-container {
  @apply border-t border-gray-500 mt-10;
  @apply flex flex-col;
}

.art-image-container {
  @apply h-fit w-auto flex justify-center;
  @apply py-10;

  img {
    @apply max-h-fit;
  }
}

.art-options-container {
  @apply flex flex-row gap-x-2;
  @apply h-fit w-auto flex justify-center;
}

.art-data-container {
  background-color: var(--secondary);

  @apply py-2;
  @apply shadow-xl rounded-xl;

  .title {
    @apply mt-2 mb-2;
    @apply font-bold text-3xl text-center;
  }

  .description {
    @apply h-fit p-5;
  }

  .metadata {
    @apply flex flex-col gap-y-2;
    @apply w-80 pr-2 pl-5 py-5;
    @apply border-l border-gray-500;
  }

}

.art-tags-container {
  @apply flex flex-row gap-x-2;

  .tag {
    @apply rounded-3xl border border-gray-500;
    @apply h-fit w-fit p-2;
  }
}

/* Form */
.section-search {
  @apply p-4;
}

.section-search-form {
  background-color: var(--tertiary);
  @apply flex flex-col;
  @apply pt-3 pl-5;
  @apply rounded-xl border-b border-gray-700;
 }

.section-search-results {

}

.input-text-container {
  @apply flex flex-row gap-x-2 align-middle items-center;
  @apply text-black;

  .label {
    @apply font-bold;
    color: var(--text-color);
  }

}

.input-text {
  @apply rounded-lg border border-gray-500;
  @apply w-fit h-fit p-1;
}
